{% extends "base.html" %}

	{% block title %}{{oSerie.titulo}} :: TEMPORADA {{temporada}} :: {{ oSerie.titulo }}{% endblock %}

	{% block wrapper %}
	{% endblock %}

	{% block guia_paginas %}
		<ul class="breadcrumb">
			<li><a href="{% url series_home %}">Home</a> <span class="divider">/</span></li>
			<li><a href="{% url series_ver_ficha_serie oSerie.slug %}">{{ oSerie.slug }}</a> <span class="divider">/</span></li>
			<li class="active">Temporada {{ temporada }}</li>
		</ul>
	{% endblock %}

	{% block contenido %}
		<div class="row-fluid">
			<div style="width: 200px" class="pull-left">
				<img style="width: 100%" class="pull-left" src="{% url series_portada oSerie.slug %}" />
			</div>
			<div class="pull-right" style="width: 400px">
				<h4>Episodios {{oSerie.titulo}}</h4>
				<ul class="unstyled">
				{% for ep in oEpisodios %}
					<li><a href="{% url series_ver_ficha_episodio oSerie.slug, temporada, ep.numero %}">{{ ep|upper }}</a></li>
				{% endfor %}
				</ul>
			</div>
		</div>
	{% endblock %}