{% extends "base.html" %}

{%block title %}{{ obj.titulo }}{% endblock %}

{% block header %}
    <h1>{{ obj.titulo }}</h1>
{% endblock %}

{% block wrapper %}{% endblock %}

{% block guia_paginas %}
    <ul class="breadcrumb">
        <li><a href="{% url series_home %}">Home</a> <span class="divider">/</span></li>
        <li class="active">{{ obj.slug }}<span class="divider">/</span></li>
    </ul>
{% endblock %}

{% block contenido %}
    <div class="container-fluid">
        <img style="width: 150px; padding-right: 15px" class="pull-left" src="{% url series_portada obj.slug %}" />
        <p class="lead">{{obj.titulo|upper}}</p>
        <p style="font-size: 1.2em; text-align: justify; text-align-last: left">{{ obj.plot }}</p>
    </div>
    <br>
    <span class="lead">Listado de Temporadas</span>

    <ul class="unstyled">
        {% for t in oTemporadas %}
            <li><a href="{% url series_ver_listado_episodios obj.slug, t %}">TEMPORADA {{ t }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
